{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    // Time zone
    "TIME_ZONE": "Europe/Copenhagen",
    // Local DB created using WholesaleDatabaseFixture
    "DB_CONNECTION_STRING": "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=Wholesale;Integrated Security=True;Connect Timeout=60;",
    // Databricks
    "WorkspaceToken": "<token>",
    "WorkspaceUrl": "<url>",
    "WarehouseId": "<id>",
    // ServiceBus
    "SERVICE_BUS_SEND_CONNECTION_STRING": "<connection string>",
    "INTEGRATIONEVENTS_TOPIC_NAME": "<topic>"
  }
}