# This is a pip 'requirements.txt' file
# See https://pip.pypa.io/en/stable/reference/requirements-file-format/

#
# PYTHON TOOLS
#
black
build
coverage-threshold
flake8
mypy
ptvsd
pyspelling
pytest-asyncio
pytest-xdist

#
# CODE DEPENDENCIES
#
databricks-cli==0.17.6
dataclasses-json
delta-spark==2.3.0
dependency_injector==4.41.0
azure-eventhub
azure-identity==1.12.0
azure-keyvault-secrets==4.7.0
azure-monitor-opentelemetry==1.0.0
azure-monitor-query==1.2.0
azure-servicebus
azure-storage-file-datalake==12.11.0
opengeh-spark-sql-migrations @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages@mkq/implement_spark_sql_migrations#subdirectory=source/spark_sql_migrations
python-dateutil==2.8.2
pyspark == 3.3.2
types-python-dateutil
