# This is a pip 'requirements.txt' file
# See https://pip.pypa.io/en/stable/reference/requirements-file-format/

#
# PYTHON TOOLS
#
black
build
coverage-threshold
flake8
mypy
pyspelling
pytest-xdist

#
# CODE DEPENDENCIES
#  - Make sure any packages specified in setup.py are pinned to the same version here
#

# Packages in Databricks Runtime 15.4 LTS
azure-core==1.32.0 # issue with 1.30.2 which is the version in Databricks Runtime 15.4 LTS
python-dateutil==2.8.2
virtualenv==20.24.2

# Other packages
delta-spark==3.2.0
databricks-cli==0.18
dataclasses-json==0.6.7
pyspark==3.5.1
dependency_injector==4.43.0
azure-identity==1.17.1
azure-keyvault-secrets==4.8.0
azure-monitor-opentelemetry==1.6.4
azure-monitor-query==1.4.0
types-python-dateutil==2.9.0.20241003
coverage==7.6.8
pytest==8.3.3
configargparse==1.7.0
pytest-mock==3.14.0

# Custom packages
opengeh-spark-sql-migrations @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages@2.4.2#subdirectory=source/spark_sql_migrations
opengeh-telemetry @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages@2.4.2#subdirectory=source/telemetry
# opengeh-testcommon @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages@3.0.4#subdirectory=source/testcommon
opengeh-testcommon @ git+https://git@github.com/Energinet-DataHub/opengeh-python-packages@69abd640fcff9289e7465f8f61b6b285feddbbc4#subdirectory=source/testcommon