name: CI orchestrator

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}

jobs:
  #
  # License and Markdown Check
  #
  ci_base:
    uses: Energinet-DataHub/.github/.github/workflows/ci-base.yml@v12
    with:
      skip_license_check: true
    secrets:
      pat_token: ${{ secrets.PAT_TOKEN_REPO_WORKFLOW }}

  #
  # Detect changes to start relevant workflows
  #
  changes:
    uses: ./.github/workflows/detect-changes.yml

  edi_ci:
    needs: changes
    if: ${{ needs.changes.outputs.edi_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: edi_infrastructure
      infrastructure_path: ./edi/terraform
    secrets: inherit

  market_participant_ci:
    needs: changes
    if: ${{ needs.changes.outputs.market_participant_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: market_participant_infrastructure
      infrastructure_path: ./market-participant/terraform
    secrets: inherit

  esett_exchange_ci:
    needs: changes
    if: ${{ needs.changes.outputs.esett_exchange_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: esett_exchange_infrastructure
      infrastructure_path: ./esett-exchange/terraform
    secrets: inherit

  migrations_ci:
    needs: changes
    if: ${{ needs.changes.outputs.migrations_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: migrations_infrastructure
      infrastructure_path: ./migrations/terraform
    secrets: inherit

  shared_resources_ci:
    needs: changes
    if: ${{ needs.changes.outputs.shared_resources_ci == 'true' }}
    uses: ./.github/workflows/shared-resources-infrastructure-build-prerelease.yml
    with:
      infrastructure_path: ./shared-resources/terraform/infrastructure
      b2c_path: ./shared-resources/terraform/b2c
    secrets: inherit

  ui_ci:
    needs: changes
    if: ${{ needs.changes.outputs.ui_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: ui_infrastructure
      infrastructure_path: ./ui/terraform
    secrets: inherit

  wholesale_ci:
    needs: changes
    if: ${{ needs.changes.outputs.wholesale_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: wholesale_infrastructure
      infrastructure_path: ./wholesale/terraform
    secrets: inherit

  integration_test_ci:
    needs: changes
    if: ${{ needs.changes.outputs.integration_test_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: integration_test_infrastructure
      infrastructure_path: ./integration-test/terraform
    secrets: inherit

  health_checks_ui_ci:
    needs: changes
    if: ${{ needs.changes.outputs.health_checks_ui_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: health_checks_ui_infrastructure
      infrastructure_path: ./health-checks-ui/terraform
    secrets: inherit

  esett_deprecated_ci:
    needs: changes
    if: ${{ needs.changes.outputs.esett_deprecated_ci == 'true' }}
    uses: ./.github/workflows/infrastructure-build-prerelease.yml
    with:
      release_name_prefix: esett_deprecated_infrastructure
      infrastructure_path: ./esett-deprecated/terraform
    secrets: inherit

  # If we have multiple Structurizr DSL files in the same repository, we can support rendering them by:
  #  1. Adding a job per file
  #  2. Ensure these jobs are executed in serial (by using 'needs')
  #  3. Ensure that later jobs are executed even if some are skipped (by using 'if' and 'always()')
  #
  # If the jobs where instead executed in parallel and more than one needed to make an auto commit,
  # the second commit would fail.
  render_c4model_deployment:
    needs: changes
    if: ${{ needs.changes.outputs.render_c4model_deployment == 'true' }}
    uses: Energinet-DataHub/.github/.github/workflows/structurizr-render-diagrams.yml@v12
    with:
      structurizr_workspace_filename: deployment
      included_model_filename: platform-tools
    secrets:
      pat_token_retrigger_workflow: ${{ secrets.pat_token_repo_workflow }}
  render_c4model_ownership_views:
    needs: [changes, render_c4model_deployment]
    if: ${{ always() && needs.changes.outputs.render_c4model_ownership_views == 'true' }}
    uses: Energinet-DataHub/.github/.github/workflows/structurizr-render-diagrams.yml@v12
    with:
      structurizr_workspace_filename: ownership-views
    secrets:
      pat_token_retrigger_workflow: ${{ secrets.pat_token_repo_workflow }}

  #
  # Branch policy status check
  #

  allow_merge_ci_orchestrator:
    runs-on: ubuntu-latest
    needs:
      [
        ci_base,
        edi_ci,
        market_participant_ci,
        esett_exchange_ci,
        migrations_ci,
        shared_resources_ci,
        ui_ci,
        wholesale_ci,
        integration_test_ci,
        health_checks_ui_ci,
        render_c4model_deployment,
        render_c4model_ownership_views,
        esett_deprecated_ci
      ]
    if: |
      always()
    steps:
      - name: Verify if merge is allowed
        run: |
          echo "${{ toJSON(needs) }}"
          if [[ ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }} = true ]]; then
              echo "Failed"
              exit 1
          fi
