name: Infrastructure build - prerelease

# DESCRIPTION:
#
# Should only be used for pull requests.
#
# This workflow will validate the infrastructure as code (terraform files)
# and then create a prerelease package containing the files.
# The prerelease name will be in the format '<release_name_prefix>_<PR-number>'.

on:
  workflow_call:
    inputs:
      release_name_prefix:
        required: false
        default: infrastructure
        type: string
      infrastructure_path:
        required: true
        type: string
      operating_system:
        required: false
        default: ubuntu-22.04
        type: string

env:
  RELEASE_VERSION: ${{ inputs.release_name_prefix }}_${{ github.event.pull_request.number }}
  RELEASE_ZIP_FILENAME: ${{ inputs.release_name_prefix }}_${{ github.event.pull_request.number }}.zip

jobs:
  validate_infrastructure_configuration:
    uses: ./.github/workflows/infrastructure-validate.yml
    with:
      infrastructure_path: ${{ inputs.infrastructure_path }}
    secrets: inherit

  create_prerelease:
    needs: [validate_infrastructure_configuration]
    if: ${{ always() && !contains(needs.*.result, 'failure') }}
    runs-on: ${{ inputs.operating_system }}
    env:
      RELEASE_FOLDER_PATH: ${{ github.workspace }}/release
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy infrastructure files
        shell: bash
        run: |
          mkdir ${{ env.RELEASE_FOLDER_PATH }}
          mkdir ${{ env.RELEASE_FOLDER_PATH }}/infrastructure
          cp -fR ${{ inputs.infrastructure_path }}/main ${{ env.RELEASE_FOLDER_PATH }}/infrastructure/main 2>/dev/null || :
          cp -fR ${{ inputs.infrastructure_path }}/env ${{ env.RELEASE_FOLDER_PATH }}/infrastructure/env 2>/dev/null || :

      - name: Zip files for prerelease
        uses: thedoctor0/zip-release@0.6.2
        with:
          type: zip
          filename: ${{ env.RELEASE_ZIP_FILENAME }}
          directory: ${{ env.RELEASE_FOLDER_PATH }}

      - name: Create pre-release
        uses: marvinpinto/action-automatic-releases@6273874b61ebc8c71f1a61b2d98e234cf389b303
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ${{ env.RELEASE_VERSION }}
          prerelease: true
          title: ${{ env.RELEASE_VERSION }}
          files: |
            ${{ env.RELEASE_FOLDER_PATH }}/${{ env.RELEASE_ZIP_FILENAME }}
